.catalog {
}
.catalog__wrapper {
    display: flex;
    gap: 70px;
}
@media (max-width:992px) {
    .catalog__wrapper {
        display: flex;
        gap: 45px;
        flex-direction: column-reverse;
        align-items: center;
    }
}
@media (max-width:767px) {
    .catalog__wrapper {
        display: flex;
        gap: 25px;
        flex-direction: column-reverse;
        align-items: center;
    }
}
.catalog__navigation {
    height: 743px;
    position: sticky;
    top: 20px;
    margin-top: 18px;
}
@media (max-width:992px) {
    .catalog__navigation {
        height: 100%;
        position: static;
        display: flex;
        justify-content: center;
    }
}
.catalog__cards {
    
}
@media (max-width:767px) {
    .catalog__cards {
        width: 372px;
    }
}

.catalog__cards-title {
    font-family: Mulish;
    font-size: 40px;
    font-weight: 700;
    line-height: 50.2px;
    color: var(--gray-2);
    margin-bottom: 35px;
}
@media (max-width:992px) {
    .catalog__cards-title {
        font-family: Ubuntu;
        font-size: 30px;
        font-weight: 500;
        line-height: 34.47px;
        color: var(--gray-2);
        margin-bottom: 25px;
    }
}
