.size {
    width: 356px;
}
@media (max-width:767px) {
    .size {
        width: 255px;
    }
 
}
@media (max-width:767px) {
    .position-img {
        position: absolute;
        top: -12px;
        left: 76px;
    }
}


