:root {
    /*Color text*/
    --gray-1:#636363;
    --gray-2:#2C2C2C;
    --gray-3:#595959;
    --gray-4:#494949;
    --gray-5:#ABABAB;

    --white:#FFFFFF;

    --black:#000000;

    --hover-link:#FF4444;
    
    --link-transition:#FF4444B5;

    /*Color bg*/
    --gray-0:#F0F0F0;
    --gray-bg-1:#D9D9D9;
    --gray-bt:#E2E2E2;
    --swiper-pagination-bullet-horizontal-gap: 1px;
}